@{
    ViewData["Title"] = "Előadók listája";
}

<h1>@ViewData["Title"]</h1>
<div>
    <table class="table table-bordered table-striped">
        <thead>


            <tr>
                <th>Id</th>
                <th>Név</th>
                <th>Nemzetiség</th>
                <th>Él-e?</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (Eloado eloado in Model)
            {
                <tr>
                    <td>@eloado.Id</td>
                    <td>@eloado.Nev</td>
                    <td>@eloado.Nemzetiseg</td>
                    <td>@eloado.Elo</td>
                </tr>

            }


        </tbody>
    </table>

</div>
